<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725226528498-mmbqc93asmcm04dbinqe9ngo5gdog46d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725226528498-mmbqc93asmcm04dbinqe9ngo5gdog46d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>725226528498-fkiamko6gucgk3vinugj9j1on01clfur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLnxVyDTge5S8xuC9J10pXo_ZuFg1kUu4</string>
	<key>GCM_SENDER_ID</key>
	<string>725226528498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patazone.order</string>
	<key>PROJECT_ID</key>
	<string>patazone-660c5</string>
	<key>STORAGE_BUCKET</key>
	<string>patazone-660c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725226528498:ios:2b20d5fce78754a445fa6b</string>
</dict>
</plist>